{% extends "base.twig" %}

{% block title %}task 1 - part one{% endblock title %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">home</a></li>
    <li class="current">task 1</li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="container">code analysis <small>task 1</small></h1>
        </div>
        <div class="bs-example">
            <div class="jumbotron">
                <h1>Your progress:</h1>
                {% if info != false %}
                    <h2>{{info}}</h2>
                    <a href="?accepted=1">You can proceed with the validation by clicking here.</a>
                {% else %}
                <ul class="solvedErrors">

                    {% for key, solved in solvedErrors %}
                        {% if solved %}
                            <li>You successfully solved <span class="label label-success">{{key}}</span></li>
                        {% else %}
                            <li class="red">You still have to solve <span class="label label-danger">{{key}}</span></li>
                        {% endif %}
                    {% endfor %}

                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <blockquote>
            <p>The part one tests your programming skills.</p>
        </blockquote>
    </div>
</div>
{% endblock content %}
